/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.montserrat, body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  /* background-color: #4B4C69; */
  /* background: rgb(75,76,105);
  background: linear-gradient(270deg, rgba(75,76,105,1) 0%, rgba(55,57,82,1) 50%, rgba(53,54,77,1) 100%); */
  background-color: #673AB7  ;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .sidebar{
    position:relative;
  }
}
#headshot{
  height: 160px;
  padding: 45px;
  border-radius: 50%;
  
}
.sidebar{
  /* background-color: #3F4163; */
  overflow-y: scroll;
  height: 100vh;
  width: 250px;
  content-visibility: auto;
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; /* a */
  max-height: 100vh; /* a x number of line to show (ex : 2 line)  */
  
}
/* .socials{
  display: inline-block;
  color: white;
} */
  /* unvisited link */
a:link {
    color: white;
    font-weight: lighter;
    margin-left: 10px;
    text-align: center;
    
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: lightgrey;
}

/* selected link */
a:active {
  color: white;
}


.parallax-container {
  position: relative;
  height: 100vh;
  overflow:visible;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 260px;
  text-align: justify;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Add specific styling for each layer */
}

#contact{
  background-color: #512da8;
  height:fit-content;
  max-width: 224px;
  margin-left: 12px;
  
  
}

nav{
    font-weight: 200;
    font-size: medium;
}
#about-content{
  transform: translateY(0%);
}
#experience-content{
  transform: translateY(99vh);
}
#projects-content{
  transform: translateY(225vh);
}